/* set page margin */
body {
  margin-left: 200px;
  margin-right: 200px;
}

/* Navigation bar */
.topnavigationbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 48px;
}
/* logo styling */
#logo {
  margin-top: 45px;
  margin-bottom: 48px;
  font-size: 40px;
}

#routes {
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
}
#route {
  margin-left: 50px;
  font-size: 40px;
}
/* styling the centre section */
#centreSection {
  display: flex;
  margin-bottom: 100px;
}
/* the image */
#imageSection {
  width: 50%;
}
#DescriptionButton {
  width: 50%;
}
/* title styling */
#title {
  width: 100%;
  font-size: 25px;
}
/* description styling */
#description {
  font-size: 21px;
}
/* button styling */
#buyTicketButton {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
}
/* using pseudo selector */
#buyTicketButton:hover {
  background-color: #e1f00d;
    color: black;
    cursor: pointer;
}
